export OS_USERNAME={{ keystone_admin_user }}
export OS_TENANT_NAME=admin
export OS_PASSWORD={{ keystone_admin_password }}
export OS_AUTH_URL=http://{{ keystone_internal_vip }}:35357/v2.0/
#export PS1='[\u@\h \W(keystone_admin)]\$ '
