#version=RHEL7
install
url --url http://{{ internal_ipaddr }}/{{ tftp_file }}/
reboot
auth --enableshadow --passalgo=sha512
firstboot --disable
ignoredisk --only-use=sda
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8

network  --bootproto=dhcp --device={{ primary_if }} --onboot=on --ipv6=auto
network  --hostname=ops-install-rhel-7-2
rootpw --iscrypted $6$Z6FbIXVL$h93U43dxrDJt5brzKh/9dJwmF7rxIESKfh4q7W9fmospaahI2RJrqOM5ZFsN9aXLYVW/WvnigoSTI.qLJSVnw/
timezone America/Sao_Paulo --isUtc
bootloader --location=mbr --boot-drive=sda
part /boot --fstype=xfs --asprimary --size=512
part pv.1 --grow --size=1
volgroup sysvg pv.1
logvol / --vgname=sysvg --size=4000 --grow --name=root
logvol /var --vgname=sysvg --size=20000 --grow --name=var
logvol swap --vgname=sysvg --size=4000 --maxsize=16000 --grow --fstype=swap --name=swap
clearpart --drives=sda --all --initlabel 

%packages
@base

%end
